@tailwind base;

h2 {
  @apply text-xl font-bold;
}

@tailwind components;

.btn-main {
  @apply shadow bg-purple-500 text-white font-bold py-2 px-4 rounded;
}

.btn-main:hover {
  @apply bg-purple-400;
}

.btn-main:focus {
  @apply shadow-outline outline-none;
}

@tailwind utilities;

html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}
